body{
 background-image: url("sky.jpg");
 background-size: 100%;
 font-family: 'Delius', cursive;
}
h1 {
	color: black;
	text-align: center;
	font-family: 'Delius', cursive;
}
h2 {
	color:black;
	text-align: center;
	font-size: medium;
}
p {
	color: black;
	font-family: 'Delius', cursive;
	font-size: large;
}
table {
	color: black;
	font-family: 'Delius', cursive;
	width: 100%;
}